menu "Olive Kernel Config"

choice
    prompt "Build Type"
    default BUILD_RELEASE

config BUILD_DEBUG
    bool "Debug"
    help
        Build the kernel with debugging enabled, providing extra logging
        and assertions for development purposes.

config BUILD_RELEASE
    bool "Release"
    help
        Build the kernel with optimizations and minimal logging for production use.

config BUILD_TRACE
    bool "Trace"
    help
        Build the kernel with tracing enabled, providing detailed logging
        for debugging purposes, enables debug as well.

endchoice

endmenu
